Report/conference_101719.pdf
Report/conference_101719.tex
Report/EspinozaReport.aux
Report/EspinozaReport.bbl
Report/EspinozaReport.bcf
Report/EspinozaReport.blg
Report/EspinozaReport.log
Report/EspinozaReport.out
Report/EspinozaReport.run.xml
Report/EspinozaReport.synctex.gz
